body{
    background-color: lightblue;
}

h1{
    color: navy;
    margin-left: 20px;
}

h2{
    font-family: Verdana;
    color:red;
    border: 1px solid green;
    text-align: center;
    width: 50%;
}